<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Following are the Text Service Paths-->   
    <add key="TextServicePathV2" value="Text/v2"/>
    <add key="TextServicePath" value="TextModerator/v1"/>    
    <add key="TextServiceCustomListPath" value="Text/Admin"/>
    
    <!--Following are the Image Service Paths-->
    <add key="ImageServicePath" value="ImageModerator/v1"/>
    <add key="ImageServiceCustomListPath" value="Image/Validate"/>        
    <add key="ImageServicePathV2" value="Image/v2"/>
    <add key="ImageServiceCustomListPathV2" value="Image/Validate/v2"/>
    <add key="ImageCachingPath" value="Image/Cache"/>


    <!--Replace the following with your service keys
    Use https://api.microsoftmoderator.com as the host Url"/>-->
    
    <add key="HostUrl" value="__hosturl__"/>
    
    <!--Image Service Keys-->
    <add key="ImageServiceKey" value="__imageservicekey__"/>
    <add key="ImageServiceCustomListKey" value="__imageservicecustomlistkey__"/>              
    
    <!--Text Service Keys-->
    <add key="TextServiceKey" value="__textservicekey__"/>
    <add key="TextServiceCustomListKey" value="__textservicecustomlistkey__"/>

    <!--Following are PhotoDNA Cloud Service Settings-->
    <add key="PDNAHostUrl" value="__pdnahosturl__"/>
    <add key="PDNAImageServicePath" value="v1/ScanImage"/>
    <add key="PDNAServiceKey" value="__pdnaservicekey__"/>
    
  </appSettings>
</configuration>