<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostUrl" value="https://apim.projectwabash.com"/>
    <add key="ImageServicePath" value="ImageModerator/v1"/>
    <add key="TextServicePath" value="TextModerator/v1"/>
    <add key="TextServiceCustomListPath" value="Text/Admin"/>
    <add key="ImageServiceCustomListPath" value="Image/Validate"/>
    <add key="ImageServicePathV2" value="ImageModerator/v2"/>
    <add key="ImageServiceKey" value="7e58f40a83494929b54d91e926c6d230"/>
    <add key="TextServiceKey" value="708301853fce4454b168f719d0b349af"/>
    <add key="TextServiceCustomListKey" value="7c6144a02722463dbe07eceead3d3fdb"/>
    <add key="ImageServiceCustomListKey" value="2766c10e-04e5-4139-9aa8-30eb6fd3b499"/>
    <add key="ImageServiceKeyV2" value="f81e1ee1fbf54530bfce56aa9fe3ba61"/>
  </appSettings>
</configuration>