<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostUrl" value="https://api.microsoftmoderator.com"/>
    <add key="ImageServicePath" value="ImageModerator/v1"/>
    <add key="TextServicePath" value="TextModerator/v1"/>
    <add key="PdnaServicePath" value="v1/ScanImage/Validate"/>
    <add key="TextServiceCustomListPath" value="Text/Admin"/>
    <add key="ImageServiceCustomListPath" value="Image/Validate"/>
    <add key="ImageServicePathV2" value="Image/v2"/>
    <add key="TextServicePathV2" value="Text/v2"/>
    <add key="ImageServiceKey" value=""/>
    <add key="TextServiceKey" value=""/>
    <add key="TextServiceCustomListKey" value=""/>
    <add key="ImageServiceCustomListKey" value=""/>
  </appSettings>
</configuration> 